<p>
  In this book, we will recreate the mini-game featured at the end of the prologue, step by step. To begin, choose your reader profile, as the content will adapt to suit your chosen profile.
</p>

<%= render "reader_profile" %>

<h2>What is this book about?</h2>

<p>The goal of this book is to show how to make a game without using any extra libraries or tools. Even though these tools are out there, doing it without them helps us understand what's happening under the hood before we start a more complex project.</p>

<p>So, we put all the extra tools in a box and get started.</p>

<%= book_illustration book, "packing_libs.png", "Packing all the extra libraries in a box" %>