
<p>There is no "best way" to approach game development. What I propose here is my personal vision, and there are countless other ways to do it. It's up to you to find the approach that suits you.</p>

<p>Keep in mind that creating a game in pure JavaScript is a challenging task. The game designed for this book is very simple and requires few advanced techniques. If you want to tackle a more ambitious project, it is preferable to rely on existing tools, such as PIXI.js, Phaser, or Babylon.js, to name a few.</p>

<p>By the way, PIXI.js will be the subject of the next book!</p>



<h2>The final word</h2>

<p>The source code of this website is fully available on GitHub. Feel free to use it for your own projects if this approach inspires you.</p>

<p>We do not keep any record of your visit to this site. We do not collect any personal data. This is a deliberate choice on our part.</p>

<p>However, your feedback would be greatly appreciated. To do so, our favorite communication channel is our Discord server, so feel free to drop by! You can also contact us on Twitter.</p>

<p>Thank you for following along with this little adventure to the end.</p>
