<%= link_to root_path, class: "logo" do %>

  <div class="logo_part zombie"></div>
  <div class="logo_part undead"></div>
  <div class="logo_part bubble">
    <div class="content code">braaains()</div>
  </div>

<% end %>