<div class="menu">
  <nav>
    <ul>
      <li>
        <a href="">
          <span class="category" v-if="category">Prologue</span>
          <span class="title">Adobe Flash, A fallen Hero</span>
        </a>
      </li>
      <li>
        <a href="">Embark on your journey</a>
      </li>
    </ul>
  </nav>
</div>