<div class="menu">
  <nav>
    <ul>
      <% book.chapters.each do |chapter| %>
        <li>
          <%= link_to chapter_path(book.slug, chapter.slug) do %>
            <span class="category"><%= numeral_to_roman(chapter.name) %></span>
            <span class="title"><%= chapter.title %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>