<section class="error">
  <h2>Error 500 - internal server error</h2>
  <p>Uh oh! The crow responsible for serving up this page has gone missing! Our servers are working hard to find it and get things back to normal. Please try again later and the Perky Crow will hopefully be back soon!</p>
</section>