<section class="error">
  <h2>Error 404 - not found</h2>
  <p>Once upon a time, a traveler searched for a web page, but it was nowhere to be found. The Perky Crow appeared, promising to help, but flew too fast and lost the page once more. Remember to be cautious of mischievous birds, for they may lead you astray in your journey through the web.</p>
</section>