<section class="error">
  <h2>Error 406 - unacceptable</h2>
  <p>Oops! It looks like the crow responsible for serving up content is having a bit of trouble. It tried to give you what you asked for, but unfortunately it's not able to provide it in a format that you can accept. The perky crow is fluttering around, trying to figure out what it can do to make things right. Please check your request and see if you can make any adjustments, and the perky crow will do its best to serve up the content in a format you can accept!</p>
</section>