<div class="chapter">

    <div class="time_to_read" data-controller="time-to-read"></div>

    <% if chapter[:category] %>
        <div class="category"><%= chapter[:category] %></div>
    <% end %>

    <% if chapter[:title] %>
        <div class="title">
            <h1><%= chapter[:title] %></h1>
        </div>
    <% end %>

    <article ref="content">
        <%= content %>
    </article>

</div>