<div class="chapter_sources" data-reader-target="beginner developer">

  <div class="description">Source code</div>

  <div class="links">
    <%= link_to "Download", download_url, target: "_blank" %>
    <%= link_to "Explore", explore_url, target: "_blank" %>
  </div>

</div>