<%= render_chapter @chapter do %>

  <p>In the wild frontier of the internet, Adobe Flash was the go-to platform for creating interactive web-based games. Developers from all around the world flocked to use it, drawn by its powerful capabilities and easy-to-use tools.</p>

  <p>As time went by, a new challenger appeared on the horizon in 2010: HTML5. This newcomer was faster and more versatile than Flash, and it quickly gained popularity among web developers.</p>

  <%= illustration "prologue_illus_1.png", "An illustration of Flash being afraid of HTML5" %>

  <p>Flash, stubborn and slow to adapt, refused to change with the times. It clung to its outdated ways, even as its grip on the web began to slip.</p>

  <p>HTML5 continued to evolve and improve. It became the preferred choice for creating web-based games and applications, and its popularity only grew as mobile devices became more prevalent.</p>

  <p>In the end, the fall of Flash and the rise of HTML5 game development was inevitable. As more and more developers turned to HTML5, the old platform was left behind, a relic of a bygone era.</p>

  <p>And so, the once-mighty Adobe Flash rode off into the sunset, a fallen hero, never to be seen again. The age of HTML5 had begun, and with it a new era of web-based gaming.</p>

<% end %>
