@mixin mobile {
  @media (max-width: 600px) {
      @content;
  }
}


@mixin shadow {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}


$dark:    #333333;
$darker:  #222222;
$faded:   #626262;
$dimmer:  #e7e5df;
$light:   #f0eee8;
$lighter: #f5f3ef;
$button:  #26508f;
$link:    #2d4270;
$active:  #121b2f;
$accent:  #320a28;


$baseFont:  'Average', sans-serif;
$titleFont: 'Rye', cursive;
$codeFont:  'Source Code Pro', monospace;


html {
  scroll-behavior: smooth;
}


body {
  background-color: $light;
  color: $dark;
  background-size: 512px;
  font-size: 18px;
  line-height: 1.6;
}


body, select {
  font-family: $baseFont;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
  color: $darker;
}


p em {
  font-family: $titleFont;
}


code, .code {
  font-family: $codeFont;
  white-space: pre-wrap;
}


a {
  color: $link;
}


a:hover {
  color: $active;
}


h2 a {
  color: $active;
  text-decoration: none;
}


strong {
  color: black;
  font-weight: bold;
}

small {
  font-size: 0.65em;
}


em {
  font-style: normal;
  font-size: 0.9em;
}


span.code {
  font-weight: bold;
  font-size: 0.9em;
  background-color: rgba(255,255,255,0.25);
  padding: 0 0.2em;
}

.hidden_content {
  display: none;
}


.app {
  width: 700px;
  margin: 0 auto;

  .content {
    width: 700px;
  }

  @include mobile {
    width: 100%;
    margin: 0;

    .content {
      width: 100%;
    }
  }
}


.main {
  position: relative;
}


#header {
  position: relative;

  .profile_selector {
    position: absolute;
    width: 250px;
    left: -250px;
    top: 285px;
    height: 60px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .label {
      color: $faded;
      display: inline-block;
      margin-bottom: 0.25rem;
    }

    select {
      appearance: none;
      border: 0;
      outline: 0;
    
      width: auto;
      height: 2em;
      padding: 0 3em 0 1em;
      background: url(caret_down.svg) no-repeat right 0.4em center / 1.2em, linear-gradient(to left, rgba($dimmer, 1) 2em, rgba(0, 0, 0, 0.0) 2em), linear-gradient(35deg, $light, $lighter);
      color: $dark;
      border-radius: 0.25em;
      @include shadow;
      transition: box-shadow ease-in 0.2s;
      border: 0.1em solid $lighter;
      font-size: 1rem;
      cursor: pointer;

      option {
        color: inherit;
        background-color: $accent;
      }

      &:focus {
        outline: none;
      }

      &::-ms-expand {
        display: none;
      }

      &.changed {
        transition: box-shadow ease-out 0.2s;
        box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.1);
      }
    }
  }

  .logo {
    display: block;
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 2em auto;
  
    .logo_part {
      position: absolute;
      top:      0;
      left:     0;
      width:    100%;
      height:   100%;
      background-position: 0 0;
      background-repeat:   no-repeat;
      background-size:     cover;
    }
    
    .bubble {
      background-image: url('logo_bubble.png');
      background-size: cover;
    }
    
    .bubble .content {
      line-height: 1.2;
      position: absolute;
      top: 12%;
      left: 41%;
      width: 50%;
      text-align: center;
    }
    
    .zombie {
      background-image: url('logo_zombie.png');
    }
    
    .undead {
      background-image: url('logo_undead.png');
      color: transparent;
    }
  }


  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background: $light;
    border-bottom: 1px solid #e5e5e5;

    .profile_selector {
      top: 0;
      height: 5rem;
      background: $light;
      border-bottom: 1px solid #e5e5e5;

      @include mobile {
        position: initial;
        width: 100%;
        left: 0;
        top: 0;
        height: auto;
        border-radius: 0;
        padding: 0.5em;

        .label {
          padding-right: 0.5em;
        }
      }
    }

    .logo {
      height: 5rem;
      width: 14rem;
      margin-bottom: 0;

      .bubble, .zombie {
        display: none;
      }

      .undead {
        width: 100%;
        background-position: bottom -10% left 50%;

        @include mobile {
          background-position: bottom 0 left 50%;
        }
      }
    }

  }
}



.menu {
  width: 250px;
  left: -250px;
  position: absolute;

  @include mobile {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 2em;
  }

  nav {
    width: 250px;
    height: 100%;
    background-color: $lighter;
    @include shadow;
    border-radius: 0.05em;

    @include mobile {
      width: 100%;
      height: auto;
      border-radius: 0;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 0.75em;
        border-bottom: 1px solid #e5e5e5;
        background-color: $light;
        box-shadow: inset -5em 0 2em 0 $light;
  
        a {
          text-decoration: none;
          color: $dark;
        }
  
        a:hover {
          color: $active;
        }
  
        .category {
          display: block;
          font-size: 0.7em;
          color: $faded;
          margin-bottom: 0.25em;
        }
  
        .title {
          display: block;
          font-size: 0.9em;
          font-weight: bold;
        }
  
        &.active {
          box-shadow: inset -5em 0 2em 0 $lighter;
          background: $lighter;

          a {
            color: $active;
          }
        }
  
        &:last-child {
          border-bottom: none;
        }

      }
    }
  }
}




.chapter, .book, .read_next {
  background: $light;
  border-radius: 0.2em;
  box-shadow: 0 0 1.5em 1em #e2e0dc;
  margin-bottom: 2em;
  padding-bottom: 2em;
  position: relative;
}


.book {
  padding: 2em;

  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .info {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 1em;
  }

  .cover {
    text-align: center;
    margin-bottom: 2em;

    img {
      width: 100%;
      max-width: 300px;
    }
  }

  .pitch, .credits {
    text-align: center;
    padding: 2em;
    background: $dimmer;
    border-radius: 0.2em;

    @include mobile {
      padding: 0;
      background: none;
    }

    p {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .credits {
    margin-top: 2em;
    background-color: transparent;
  }
}


.read_next {
  text-align: center;
  margin: 1em 0 4em 0;
  box-shadow: none;
  padding: 0;

  .category {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }
}


.chapter {

  .time_to_read {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6em 1em 0.5em 2em;
    border-radius: 0 0 0 0.3em;
    font-size: 0.8em;
    font-weight: bold;
    color: #666;
    background: url(clock_icon.png) no-repeat 0.5em 0.5em, $dimmer;
    background-size: 1.25em;
  }

  .category {
    text-align: center;
    padding: 2em 0 1em 0;
    letter-spacing: 0.1em;
    font-size: 0.8em;
  }

  .title {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.25em;
  }

  aside {
    position: absolute;
    border-radius: 5px;
    left: calc(100% + 1em);
    width: 300px;
    font-size: 0.85em;
    background: $light;
    border-radius: 0.2em;
    border: 1px solid #e2e0dc;
    margin-top: -1em;
    padding: 1em;
    box-shadow: 0 0.5em 1em -0.25em rgb(211, 210, 203);
  }

  p, h2, h3 {
    padding: 0 2em;
    margin-bottom: 1.5em;
  }

  p {
    text-align: justify;
  }

  h2 {
    padding-top: 3em;
  }

  ul {
    padding: 0 2em;
    margin-bottom: 1.5em;

    li {
      margin-bottom: 0.5em;
    }
  }

  p:first-child, h2 + aside + p, h2 + p {
    text-indent: 2em;
  }

  p:first-child::first-letter, h2 + aside + p::first-letter, h2 + p::first-letter {
    font-size: 1.25em;
    font-family: $titleFont;
  }

  .illustration {
    text-align: center;

    img {
      max-width: 100%;
      margin-bottom: 1.5em;
    }

    @include mobile {
      img {
        max-width: 60%;
      }
    }
  }

}


.neat_code {
  position: relative;
  margin-bottom: 1.5em;
  box-shadow: 0 0.5em 1em -0.25em rgba(40,43,46,0.75);
}


.content pre code.hljs {
  padding: 0.5em 1em 0.5em 2.5em;
  font-size: 0.85em;
  box-sizing: border-box;
}


.neat_code_title {
  font-family: $codeFont;
  padding: 0.5em 1em 0.5em 2.3em;
  font-size: 0.85em;
  background: rgb(226,224,220);
  background: linear-gradient(0deg, rgba(226,224,220,1) 0%, rgba(240,238,232,1) 50%, rgba(240,238,232,0) 150%);
  font-weight: bold;
}


.copy_button {
  margin-top: 0.5em;
  margin-right: 0.5em;
  color: $active;
  border-radius: 0.2em;
  padding: 0.2em 1em 0.2em 2em;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: 0em;
  cursor: pointer;
  background-color: white;
  background-image: url(../assets/images/copy_icon.png);
  background-position: 0.5em 0.25em, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 1.25em;
  cursor: pointer;
  opacity: 0.25;
  transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out, box-shadow 0.1s ease-in-out;
}


.copy_button:hover {
  opacity: 0.75;
  color: $active;
}


.copy_button.copied {
  opacity: 1;
  background-color: rgb(228, 181, 126);
  box-shadow: 0 0 0 0.1em rgb(228, 181, 126);
}


.neat_code .hljs-addition, .neat_code .hljs-attribute, .neat_code .hljs-string {
  color: #738f62;
}


.neat_code .hljs-name, .neat_code .hljs-selector-class, .neat_code .hljs-selector-id {
  color: #caab6a;
}


.hljs-meta {
  color: #bb8f29;
}


.neat_code .hljs-link, .neat_code .hljs-template-variable, .neat_code .hljs-variable {
  color: #bd6666;
}


.neat_code .hljs-section, .neat_code .hljs-title, .neat_code .hljs-type {
  color: #dab06f;
}


.link_with_icon {
  background-position: 0.125em 0.2em;
  background-repeat: no-repeat;
  background-size: 1em;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-indent: 1.1em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.15em;
  padding: 0 0.2em;
  line-height: 1.4;
}


.link_with_icon:hover {
  background-color: rgba(255, 255, 255, 0.75);
}


.beginners_note {
  background: url(../assets/images/beginners_note.png) no-repeat 0.8em 0em, #e2e0dc;
  background-size: 100px;
  margin: 0 2em 2rem 2em;
  padding: 1.5em 0em 0.1em 4em;
  font-size: 0.9em;
  color: #44382c;
  border-radius: 0.2em;
}


#footer {
  padding: 2em;
  font-size: 0.8em;
  color: #44382c;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.2em;

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .disclaimer {
    font-style: italic;
  }
}


.reader_profile {
  h2 {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    font-family: $codeFont;
    padding: 2rem 0 0 0;
    line-height: 1;

    small {
      font-weight: normal;
      line-height: 1;
      opacity: 0.8;
    }
  }

  .profiles {
    padding: 2em 1em;
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }


  .profile {
    width: calc(100% / 3);
    box-sizing: border-box;
    text-decoration: none;
    color: $dark;
    cursor: pointer;
    border-radius: 1em;
    border-top: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
    border-left: 0.1em solid transparent;
    border-right: 0.1em solid transparent;
    padding: 1em 0;
    transition: box-shadow ease-in 0.2s;

    @include mobile {
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5em 0;
      background-color: $dimmer;
    }

    &:hover {
      background-color: $dimmer;
      border-top: 0.25em solid #d0cfca;
      border-bottom: 0.25em solid #d0cfca;
      border-left: 0.1em solid #d0cfca;
      border-right: 0.1em solid #d0cfca;
    }

    &.active {
      background-color: $dimmer;
      border-top: 0.25em solid $link;
      border-bottom: 0.25em solid $link;
      border-left: 0.1em solid $link;
      border-right: 0.1em solid $link;
    }

    &.changed {
      box-shadow: 0 0 0.5em 0.5em rgba($link, 0.2);
      transition: box-shadow ease-out 0.2s;
    }


    .image {
      text-align: center;
      img {
        width: 80%;
      }

      @include mobile {
        img {
          width: 30%;
        }
      }
    }

    .description {
      padding: 1rem;
      font-size: 0.9em;
      text-align: center;

      @include mobile {
        padding: 0 1rem;
      }
    }

    .name {
      text-align: center;
      color: $dark;
      padding: 1rem 1rem 0 1rem;
      font-family: $codeFont;
      font-size: 1.25em;
      text-transform: uppercase;

      @include mobile {
        padding: 0 1rem;
      }
    }

    &.active .name {
      color: $link;
    }

    &:hover .name {
      color: $button;
    }

  }


}


.books {
  display: flex;
  justify-content: center;

  .book {
    margin-right: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 50%;


    @include mobile {
      max-width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }

    .cover {
      img {
        max-width: 50%;
      }
    }

    .description {
      margin-bottom: 1em;
    }

    .link {

      a {
        display: block;
        padding: 0.5em;
        text-decoration: none;
        color: $light;
        background-color: $button;
        border-radius: 0.2em;

        &:hover {
          background-color: $link;
          box-shadow: 0 0 0.5em 0.5em rgba($link, 0.1);

        }
      }
    }


  }

}