<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>

    <div class="app">
      <%= render "shared/logo" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>

  </body>
</html>
