<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>

    <div class="app">
      <%= render "shared/header", book: false %>

      <div class="main">
        <div class="content">
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </div>
    </div>

  </body>
</html>
