<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>

    <div class="app">
      <header id="header">
        <%= render "shared/logo" %>
      </header>

      <%= yield %>

      <%= render "shared/footer" %>
    </div>

  </body>
</html>
